<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-title>BobinHood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="login()" expand="block">Login</ion-button>
  <ion-button (click)="register()" expand="block" color="secondary" >Register</ion-button>
</ion-content>
